<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
<div class="container"></div>

<app-parte-alta></app-parte-alta>
<app-buscador></app-buscador>
<app-ocular></app-ocular>
<app-porta-oculares></app-porta-oculares>
<app-tubo></app-tubo>
<app-parte-media></app-parte-media>
<app-conta-peso></app-conta-peso>
<app-montura></app-montura>
<app-parte-baja></app-parte-baja>
<app-bandeja-porta-oculares></app-bandeja-porta-oculares>
<app-tripode></app-tripode>

</html>
